<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- In questo file andremo a richiamare tutti gli altri file URDF che contengono le varie parti del robot-->

    <!-- Con questa riga di codice stiamo richiamando il file che contiene la struttura di base -->
    <xacro:include filename="robot_core.xacro" />
    

    <!-- Con questa riga andremo ad includere il file che contiene le righe di codice per utilizzare il controllo 
         di Gazebo -->

    <xacro:include filename="gazebo_control.xacro"/>


    <!-- Inseriamo il file che si occuperà di far funzionare il sensore LIDAR sul nostro robot simulato -->
    <xacro:include filename="lidar.xacro"/>


    <!-- Inseriamo il file che si occuperà di far funzionare il sensore FOTOCAMERA sul nostro robot simulato -->
    <xacro:include filename="camera.xacro"/>

</robot>